.auth-section{
    background-image: url(/assets/images/login-bg.png);
    
    background-size: cover;
    
    border-radius: 12px;
    
}

.auth-toggle li{
    width: 50%;
    
}

.social-login li{
    background: $neutral-0;
    border: 1px solid $neutral-300;
    padding-top: 12px;
    padding-bottom: 12px;
}